* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-image: linear-gradient(to right, #3A4741, #8DA0A4);
}

.navbar-brand img {
    width: 70px;
    height: 80px;
}

.nav-item a {
    font-weight: 500;
    font-size: 20px;
}

.img-tarj {
    width: 250px; 
    height: 350px;
}

.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url(https://t3.ftcdn.net/jpg/06/07/07/80/360_F_607078002_yMGIjR7oCK8fvvR8qD8hZ5EsXK7V8M7I.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form div {
    display: flex;
}

form div p {
    display: flex;
    width: 250px;
}

form div input {
    margin: 0 20px 20px 10px;
    width: 100px;
}

form button {
    margin: 0 20px 20px 10px;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mundiales{
    width: 100%;
    flex-direction: column;
}
.mundiales h2{
    text-align: center;
}
.mundiales div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.mundiales div h3{
    width: 100px;
}
.mundiales div p{
    width: 200px;
}
.mundiales div img{
    height: 100px;
    width: 300px;
}

footer {
    background-image: linear-gradient(to right, #3A4741, #8DA0A4);
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer section a img {
    width: 70px;
    height: 80px;
}

footer section .redes p {
    font-weight: 500;
    font-size: 20px;
    color: burlywood;
    padding: 5px 0 0 10px;
}

footer section .redes a img {
    transition: 1s;
    width: 35px;
    height: 35px;
    margin: 0 10px 5px 10px;
}

footer section .redes a img:hover {
    transform: scale(1.2);
}

footer section .contenido p {
    font-weight: 500;
    font-size: 20px;
    color: burlywood;
    padding: 5px 0 0 10px;
}

footer section .contenido a img {
    transition: 1s;
    width: 35px;
    height: 35px;
    margin: 0 10px 5px 10px;
}

footer section .contenido a img:hover {
    transform: scale(1.2);
}